.App {
  display: flex;
}

.App > div {
  width: 50vw;
  min-width: 480px;
}

.App > .guard-demo {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
 
.btn {
  border: 0px solid black;
  background-color: white;
  color: black;
  padding: 9px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 300px;
  background: #396aff;
  color: white;
}

.btn:hover {
  background: #618eff;
}

.check-user-info {
  margin-top: 15px;
}

.App > .display-userinfo {
  height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid red; */
  box-shadow: rgba(84, 89, 104, 0.05) 0px 0px 60px 0px;
  word-wrap:break-word;
  overflow-y: scroll;
}

.App > .display-userinfo > h2 {
  text-align: center;
}
